<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Bienvenido {{user | titlecase}} !!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Productos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['servidores']" href="#">Instancias de Servidores</a>
          <a class="dropdown-item" [routerLink]="['bd']" href="#">Base de datos</a>
          <a class="dropdown-item" [routerLink]="['storage']" href="#">Almacenamiento de archivos</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link puntero" (click)="openModal(template)">Alta Servicio</a>
      </li>
      <li class="nav-item">
          <a class="nav-link puntero" (click)="openModal(template2)">Alta Cliente</a>
      </li>
      <li class="nav-item">
          <a class="nav-link puntero" [routerLink]="['clientes']" >Ver Clientes</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-sm btn-outline-warning my-2 my-sm-0" type="submit" (click)="_login.logout()">Cerrar sesión</button>
    </form>
  </div>
</nav>

<!-- <div class="row">
  <div class="col-12 my-2">
    <h2>Servicios</h2>
  </div>
  
  <div class="col-12 my-2">
    <table class="table">
        <thead>
          <th>Dominio</th>
          <th>Capacidad</th>
          <th>Precio</th>
        </thead>
        <tbody *ngFor="let service of services">
            <td>{{service.name}}</td>
            <td>{{service.storage | megabyte }}</td>
            <td>{{service.price | dolar}}</td>
        </tbody>
    </table>
  </div>
</div>
 -->


<ng-template #template>
  
  <div class="modal-header">
    <h4 class="title modal-title pull-left">Alta servicio</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-altaservicio (answer)="newService($event)"></app-altaservicio>
  </div>
  <p-messages [(value)]="msgs"></p-messages>

  
</ng-template>

<ng-template #template2>
  
    <div class="modal-header">
      <h4 class="title modal-title pull-left">Alta Usuario</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-form (answer)="newService($event)"></app-form>
    </div>
    <p-messages [(value)]="msgs"></p-messages>
  
    
  </ng-template>