<form [formGroup]="form" (ngSubmit)="newUser()" novalidate="novalidate">

    <div class="col-sm-12 form-group">
        <label>Nombre <small>(*)</small></label>
        <input class="form-control" type="text"
          formControlName="name" placeholder="Ingrese Nombre">
      </div>
      <div class="col-sm-12 form-group">
        <label>Email <small>(*)</small></label>
        <input class="form-control" type="email"
          formControlName="email" placeholder="Ingrese Email">
      </div>
      <div class="col-sm-12 form-group">
        <label>Contraseña <small>(*)</small></label>
        <input class="form-control" type="password"
          formControlName="password" placeholder="Ingrese su contraseña">
      </div>
      <div class="col-sm-12 form-group">
        <label>Perfil <small>(*)</small></label>
        <select class="custom-select" formControlName="profile">
          <option value="profesional">Profesional</option>
          <option value="normal">Normal</option>
          <option value="free">Free</option>
        </select>
      </div>
      <div class="col-sm-12 form-group">
          <label>Sexo</label>
          <select class="custom-select" formControlName="sexo">
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
          </select>
        </div>
      <div class="m-2 col-sm-12 col-md-6 form-group">
          <button [disabled]=" form.valid  == false " class="btn btn-success" type="submit">Alta Usuario</button>
      </div>



</form>