/* You can add global styles to this file, and also import other style files */

body{
    background-color: azure;
}


.puntero {
    cursor: pointer;
}


.error{
    border: 2px solid red;
}

.errdesc{
    color : red;
}