<div class="row">

  <div class="col-12">
    <h2>Tabla Usuarios</h2>
  </div>

  <div class="col-12">
    <table class="table">

      <thead>
        <th>nombre</th>
        <th>email</th>
        <th>perfil</th>
        <th>sexo</th>
      </thead>

      <tbody *ngFor="let user of users" >
        <tr [appSexo]="user.sexo">
          <td>{{user.user_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.profile}}</td>
          <td>{{user.sexo}}</td>
        </tr>
      </tbody>


    </table>
  </div>


</div>